

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* style */
:root{
    --primary-color: #2d6cdf;
    --secondary-color: #1b4fb5;
    --background-color: #f5f5f5;
    --text-color: #212121;
    --subtext-color: #4e4e4e;

    /* border */
    --border-radius: 8px;
    --border-radius-lg: 16px;
    --border-radius-sm: 24px;
    /* spacing */
    --spacing: 8px;
    --spacing-lg: 16px;
    --spacing-sm: 24px;
    /* typography */
    --font-family-secondary: 'Montserrat', sans-serif;
    --font-family-primary: 'DM Sans', sans-serif;
    --font-size-normal: 16px;
    --font-size-sm: 14px;
    --font-size-lg: 18px;
    --font-size-heading1: 24px;
    --font-size-heading2: 20px;
    --font-size-heading3: 18px;

    --font-weight: normal;


}




/* TYPOGRAPHY */

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-family-primary);
    color: var(--text-color);
}

p{
    font-family: var(--font-family-secondary);
    font-size: var(--font-size);
    color: var(--subtext-color);
}

body{
    background-color: var(--background-color);
}