
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* style */
:root{
    --primary-color: #2d6cdf;
    --secondary-color: #1b4fb5;
    --background-color: #f5f5f5;
    --text-color: #212121;
    --subtext-color: #4e4e4e;

    /* border */
    --border-radius: 8px;
    --border-radius-lg: 16px;
    --border-radius-sm: 24px;
    /* spacing */
    --spacing: 8px;
    --spacing-lg: 16px;
    --spacing-sm: 24px;
    /* typography */
    --font-family-secondary: 'Arial', sans-serif;
    --font-family-primary: 'Arial', sans-serif;
    --font-size-normal: 16px;
    --font-size-sm: 14px;
    --font-size-lg: 18px;
    --font-size-heading1: 24px;
    --font-size-heading2: 20px;
    --font-size-heading3: 18px;

    --font-weight: normal;
    --spacing-xl: 32px;


}




/* TYPOGRAPHY */

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-family-primary);
    color: var(--text-color);
}

p{
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-normal);
    color: var(--subtext-color);
}

body{
    background-color: var(--background-color);
}

.profile-container{
    display: grid;
    grid-template-columns:300px 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
}

.sidebar{
    grid-column: 1;
    background-color: var(--primary-color);
    padding: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: var(--spacing-lg);
}

.sidebar h1 {
    text-align: left;
    color: white;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 120px);
}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.sidebar nav li a,
.sidebar nav > a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(8, 8, 8);
    padding: 8px 0;
}

.sidebar nav > a {
    margin-top: auto;
}

.sidebar img {
    width: 20px;
    height: 20px;
}

.sidebar nav li a {
    width: 100%;
}

.sidebar nav > a {
    width: 100%;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-lg);

}

.top-bar h2 {
    margin: 0;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: var(--spacing);
}

.top-bar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.top-bar span {
    font-weight: bold;
    color: var(--text-color);
}
.card-container{
    margin: 0;
    align-items: center;
    gap: var(--spacing);
    background-color: rgb(255, 253, 253);
    padding: var(--spacing);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4) ;
    height: 180px;
    margin: var(--spacing-lg);
    border-radius: var(--border-radius);

    
}



