<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleProfile.css">
</head>
<body>
    <div class="profile-container">
       <aside class="sidebar">
        <h1>coursify</h1>
        <nav>
            <ul>
                <li><a href="dashboard.html"><img src="home.png" alt="Dashboard Icon"> Dashboard</a></li>
                <li><a href="Instructors.html"><img src="instructors.png" alt="Instructors Icon"> Instructors</a></li>
                <li><a href="courses.html"><img src="learming.png" alt="Courses Icon"> Courses</a></li>
                <li><a href="Students.html"><img src="students.png" alt="Students Icon"> Students</a></li>
                <li><a href="Schedules.html"><img src="schedules.png" alt="Schedules Icon"> Schedules</a></li>
                <li><a href="settings.html"><img src="settings.png" alt="Settings Icon"> Settings</a></li>
                <li><a href="Help & support.html"><img src="icons.png" alt="Help & support Icon"> Help & support</a></li>

            </ul>
            <a href="logout.html"><img src="exit.png" alt="Logout Icon"> Logout</a>
        </nav>
       </aside>
    </div>
    

    
   
    

</body>
</html>