<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="/css/styleProfile.css">
</head>
<body>
    <header class="topBar">
        <h1>Student details</h1>
    <p>Dashboard/students/student details</p>
    </header>
    <div class="card">
       <div class="cover"></div>  
       <div class="profile_section"></div>
        <img src="img.jpg" alt="details">
        <div class="name_tags">
            <h2 id="StudentName" ></h2>
            <p>social media strategies </p>
        </div>
        <div class="info">
            <p><b>Email:</b> student's maiil</p>
             <p><b>phone:</b> student's phone</p>
              <p><b>Address:</b> student's Address</p>


        </div>
        <div class="button">
            <span>in</span>
            <span>x</span>
            <span>IG</span>
            <button>edit</button>
        </div>
    </div>
       
       

       
        
    


    

    
    
</body>
</html>