<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleProfile.css">
    
    <div class="profile-container">
       <aside class="sidebar">
        <h1>course</h1>
        <nav>
            <ul>
                <li><a href="dashboard.html"><img src="/assets/home.png" alt="Dashboard Icon"> Dashboard</a></li>
                <li><a href="Instructors.html"><img src="/assets/instructor.png" alt="Instructors Icon"> Instructors</a></li>
                <li><a href="courses.html"><img src="/assets/learning.png" alt="Courses Icon"> Courses</a></li>
                <li><a href="Students.html"><img src="/assets/reading.png" alt="Students Icon"> Students</a></li>
                <li><a href="Schedules.html"><img src="/assets/schedule.png" alt="Schedules Icon"> Schedules</a></li>
                  <li><a href="report.html"><img src="/assets/report.png" alt="report Icon"> Reports</a></li>
                <li><a href="settings.html"><img src="/assets/setting.png" alt="Settings Icon"> Settings</a></li>
                <li><a href="Help & support.html"><img src="/assets/customer-service.png" alt="Help & support Icon"> Help & support</a></li>


            </ul>     
            <a href="login.html"><img src="/assets/exit.png" alt="Logout Icon"> Logout</a>
             
 


        </nav>
       </aside>
       <main class="main-content">
        <div class="top-bar">
            <h2>Instructor Profile</h2>
            <div class="profile-info">
                <img src="/assets/profile.png" alt="profile pic">
                <span>Admin</span>
            </div>
      </div>
       
 <div class="card-container">
            <div class="card">
                <h3>Instructor Name</h3>

            </div>
            
    
    
           
    </div>

    
</div>
        

         


        
       
        
        
        
       </main>
    </div>

    
   
    

</body>
</html>