<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h2>Create an Account</h2>



<form action="login.html">

    <label for="name"> Name:</label><br>
    <input type="text" name="name" placeholder="Enter your full name" required><br>
     <label for="email"> Email:</label><br>
    <input type="email" name="email" placeholder=" Enter your Email" required><br>
     <label for="password"> Password:</label><br>
    <input type="password" name="password" placeholder="Enter your Password" required><br>
    
    <button type="submit">Register</button>
</form>

</body>
</html>